{%  extends "base.html" %}
 
{% block contenido %}
    
   <li class="hovered">
		<a href="#">
			<span class="icon"><ion-icon name="home-outline"></ion-icon></span>
			<span class="title">Dashboard Pasajero</span>
		</a>
	</li>
	<li>
	  <a href="#">
		<span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
		<span class="title">Perfil</span>
	  </a>
	</li>
	<li>
	  <a href="#">
		<span class="icon"><ion-icon name="paper-plane-outline"></ion-icon></span>
		<span class="title">Vuelos</span>
	  </a>
	</li>
	<li>
		<a href="#">
		 <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
		 <span class="title">Reserva</span>
		</a>
	  </li>
	<li>
	  <a href="#">
	   <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
	   <span class="title">Contraseña</span>
	  </a>
	</li>
	<li>
	  <a href="#">
		<span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
		<span class="title">Salir</span>
     </a>
	</li>

{% endblock %}