{%  extends "baseSuper.html" %}
 
{% block contenido %}
    
   	<li>
	  <a href="{{url_for('main.DashboardSuper')}}">
		<span class="icon"><ion-icon name="accessibility-outline"></ion-icon></span>
		<span class="title">Perfil SuperUsuario</span>
	  </a>
	</li>
	<li>
	<a href="{{url_for('main.DashboardSuperUsers')}}">
		<span class="icon"><ion-icon name="people-outline"></ion-icon></span>
		<span class="title">Usuarios</span>
	  </a>
	</li>
	<li>
	  <a href="{{url_for('main.DashboardSuperVuelos')}}">
		<span class="icon"><ion-icon name="paper-plane-outline"></ion-icon></span>
		<span class="title">Vuelos</span>
	  </a>
	</li>
	<li>
		<a href="{{url_for('main.DashboardSuperReserva')}}">
		  <span class="icon"><ion-icon name="paper-plane-outline"></ion-icon></span>
		  <span class="title">Reservas</span>
		</a>
	  </li>
	<li> 
	  <a href="{{url_for('main.DashboardSuperValoracion')}}">
		<span class="icon"><ion-icon name="chatbubble-ellipses-outline"></ion-icon></span>
		<span class="title">Valoraciones</span>
	  </a>
	</li>
	<li>
	  <a href="#">
	   <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
	   <span class="title">Contraseña</span>
	  </a>
	</li>
	<li>
	   <a href="{{url_for('main.logout')}}">
		<span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
		<span class="title">Salir</span>
     </a>
	</li>

{% endblock %}